<h4 class="ui center aligned medium icon header">
  <i class="circular orange coffee icon"></i>
    Say something
</h4>


<!-- container of the page -->

<div class="ui two column grid">
    
    <!-- chat block page -->
    
    <div class="twelve wide column">
        <div class="ui fluid raised card chatbox">
          <div class="content">
            <div class="ui feed">
           
              <%= render @messages %>
           
            </div>
         </div>
          <!-- writing message block -->
          <div class="extra content">
                <form class="ui reply form">
                    <div class="field">
                       
                         <div class="ui fluid icon input">
                             <input type="text" placeholder="Enter message...">
                             <i class="borded inverted orange edit icon"></i>
                         </div>
                       
                    </div>
                </form>
            </div>
          <!-- // end writing message block -->
       </div>    
    </div>

  <!-- // end chat block page -->
   
   <!-- user menu -->

    <div class="four wide column">
        <div class="ui fluid raised card chatbox">
            <div class="content">
                <div class="ui inverted vertical menu">
                  <a class="active item">
                    Home
                  </a>
                  <a class="item">
                    Messages
                  </a>
                  <a class="item">
                    Friends
                  </a>
                </div>
            </div>
        </div>
    </div>
    <!-- // end user menu -->
</div>

<!-- // end container block -->